appdirs==1.4.0
beautifulsoup4==4.5.3
click==6.7
Flask==0.12
Flask-SocketIO==2.8.3
Flask-SQLAlchemy==2.1
Flask-WTF==0.9.5
gevent==1.2.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pep8==1.5.7
pyparsing==2.1.10
python-engineio==1.2.2
python-socketio==1.7.1
requests==2.3.0
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
WTForms==1.0.5
