.container {
    width: 825px;
    height: 500px;
}

.song-list {
    width: 400px;
    height: 500px;
    float: left;
    overflow-y: scroll;
}

.player-wrapper {
    float: left;
}

.song-adder {
    float: right;
    clear: right;
}

#url-input {
    width: 300px;
}