<!DOCTYPE html>
<html ng-app="app">
<head>
  <script src="http://127.0.0.1:5000/static/angular.min.js"></script>
  <script src="http://127.0.0.1:5000/static/app.js"></script>
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
</head>
<body ng-controller="djController">
    <div class="container">
        <div class="song-list">
        	<ul>
        		<a ng-click="changeSong(song.id)" ng-repeat="song in songList"><li>[[ song.title ]]</li></a>
        	</ul>
        </div>

        <div class="player-wrapper">
            <iframe width="420" height="450" scrolling="no" frameborder="no" ng-src="[[ playerUrl ]]"></iframe>
        </div>

        <div class="song-adder">
        	<form>
        		<input type="text" id="url-input" ng-model="url">
        		<button type="button" ng-click="addSong()">Add New Song</button>
        	</form>
        </div>
    </div>
</body>
</html>